/assets/avatar/
/assets/ckeditor/
/assets/ckfinder/
/assets/JS_SOURCE/
/images
/logs
/system
/wireframe
/uploads
/psd
/application/logs/
/backup/
/_ignore/
/backup/

/application/*/_backup/

google*.html
cpanel.txt
robots.txt
task.txt