/* =================
   RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    /*border-collapse: collapse;
    border-spacing: 0;*/
}

strong {font-weight:bold;}
em {font-style:italic;}

/* =================
   FONTS
*/


@font-face {
	font-weight:normal;
	font-family:Gotham;
	src: url('../fonts/Gotham-Book.otf');
}

@font-face {
	font-weight:600;
	font-family:Gotham;
	src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
	font-weight:bold;
	font-family:Gotham;
	src: url('../fonts/Gotham-Bold.otf');
}

/* =================
   LAYOUT
*/

html {

}

body {
	font-family: Helvetica, Arial, Gotham, tahoma, sans-serif;
	font-size:62.5%; /* HENSON : makes 1em = 10px */
}

/* TEXT */
h1,h2,h3,h4{
    font-weight:bold;
    margin-bottom:0.6em;
}

h1{
    font-size:18px;
}

p{
    line-height:1.6em;
}

/* LINKS */
a {
	color:#369;
	text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

.btn {
	display:inline-block;
	padding:5px;
	background:#369;
	color:#fff !important;
	font-size:.875em;
	border-radius:2px;
}

form .btn{
    border:none;
    cursor:pointer;
    text-shadow:rgba(0, 0, 0, .1) 0 -1px 0;
    font-size:1.2em;
}

form .btn:hover{
    background:#69a;
    background:-webkit-gradient(linear, left top, left bottom, from(#69a), to(#369));
    background:-moz-linear-gradient(top, #69a, #369);
}

/* FORMS */
textarea {
	width:300px;
	height:100px;
}


/* MISC */
.log {
	border:solid 1px #C41A26;
	margin:10px 0;
	padding:10px;
	font-size:1em;
}
.log strong{
    font-size:1.4em;
    color:#CA4B2C;
}

.small_log{
    color:#fff;
    padding:5px;
    background:#29831F;
}
.fl {
	float:left
}
.fr {
	float:right
}
.clear {
	clear: both;
}
.hidden {
	display:none;
}
.bg_red {
	background:#C41A26;
}
.bg_green {
	background:#29831F;
}
.bg_blue {
	background:#369;
}
.bg_gray {
	background:#dedede;
}
.tx_orange {
	color:#f05125;
}
.italic {
	font-style:italic;
}
.small {
	font-size:.75em;
}
.center {
    text-align:center;
}
.tx_red {
    color:#C41A26;
}
.margin-top{
    margin-top:15px;
}


/* LAYOUT */
#wrapper {
 	 width:960px;
     margin:0 auto;
     font-size:1.2em;
}

#section_left img{
    max-width:780px;
}

#header{
    padding-top:20px;
    position:relative;
}

#logo{
    background:url(../images/logo.jpg) no-repeat;
    margin:0 auto 5px auto;
    width:306px;
    height:74px;
    text-indent:-9999px;
}

#logo a{
    display:block;
    width:306px;
    height:74px;
}

#header_menu {
    position:absolute;
    top:20px;
    right:0;
    border:1px solid #d0d1d3;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding:2px 0;
    width:210px;
    text-align:center;
}

#header_menu a{
    color:#a79f92;
	font-size:8px;
    margin:0 5px;
    padding-top:22px;
    display:inline-block;
}

#header_menu a:hover{ text-decoration:none;}

#header_menu a.about{ background:url(../images/about.jpg) top center no-repeat; }
#header_menu a.facebook{ background:url(../images/fb.jpg) top center no-repeat; }
#header_menu a.twitter{ background:url(../images/twitter.jpg) top center no-repeat; }
#header_menu a.contact{ background:url(../images/contact.jpg) top center no-repeat; }

#signin_menu {
    position:absolute;
    top:65px;
    right:0;
    padding:0 0 0 0;
    width:210px;
    height:32px;
    line-height:32px;
    background:url(../images/signin_bg.jpg) 2px center no-repeat; 
    border:1px solid #9c9ea0;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    color:#5691ac;
    font-size:13px;
    text-align:center;
    /*font-family:Gotham;*/
}

#signin_menu p{
	line-height:inherit;
}

#signin_menu a{
    color:#000; 
    font-weight:bold;
}

#nav {
    text-align:right;
    padding:10px 0;
}

#nav li {
    display:inline;
    color:#6b6b6b;
    font-size:14px;
}

#nav li a{
    /*font-family:Gotham;*/
    color:#6b6b6b;
    font-weight:bold;
    padding:0 6px;
    -moz-transition:0.3s all ease;
}

#nav li.last a{
    padding-right:0;
}

#nav li a:hover, #nav li a.active{
	text-decoration:none;
    color:#f05224;
}

.member_nav {
    background:#fff;
    border:1px solid #9C9EA0;
    position:relative;
    z-index:1;
}

#subscribe_bar{
    /*font-family:Gotham;*/
    background:url(../images/subscribe_bar.jpg) no-repeat #836e49;
    height:38px;
    padding-left:460px;
    margin-bottom:10px;
    overflow:hidden;
}

#subscribe_bar p {
    line-height:38px;
    float:left;
    color:#fff;
    font-size:15px;
}

#subscribe_bar p a{
	color:#fff;
    text-decoration:none;
    padding-left:24px;
    margin-right:5px;
}

#subscribe_bar p a.email{ background:url(../images/email.jpg) left center no-repeat;}
#subscribe_bar p a.rss{ background:url(../images/rss.jpg) left center no-repeat;}

.search_form{
    border:1px solid #a08562;
    -moz-border-radius:4px;
    background:#fff;
    height:26px;
    line-height:26px;
    margin:6px 0;
    padding-left:10px;
    width:210px;
    margin-right:10px;
}

.search_form input[type="text"]{
    /*font-family:Gotham;*/
	border:none;
    color:#9d9f9f;
    margin-left:20px;
    width:135px;
    font-weight:bold;
}

.search_form input[type="submit"]{
    font-weight:bold;
    /*font-family:Gotham;*/
    cursor:pointer;
	border:none;
    background:none;
    color:#b9855d;
}


#hunter_clipart{
    position:absolute;
    top:15px;
    background:url(../images/hunter.png) no-repeat; 
    width:220px;
    height:156px;
}

#hunter_clipart a{
    display:block;
    width:220px;
    height:156px;
}

#content{
    
}

#content p{
	/*margin-bottom:10px;*/
}

#welcome_text {
    /*font-family:Gotham;*/
    overflow:hidden;
    margin-bottom:10px;
}

#welcome_text h2{
    font-family:Gotham;
    color:#f05125;
    font-size:18px;
    float:left;
    margin-bottom:0;
}

#welcome_text p{
    font-size:12px;
    color:#77787b;
    float:right;
    font-weight:600;
    line-height:20px;
}

#main_section{
	border:1px solid #cecfd1;
	overflow:hidden;
	padding:10px;
}

#section_left{
	width:780px;
	float:left;
}

#section_left h2{
	font-family:Gotham;    
    font-size:18px;
}

#section_left.home_section{
    width:633px;
}

#section_right.home_section{
    width:633px;
}

.random_box{
	padding:20px 10px;
	width:470px;
	float:left;
	margin-right:10px;
	height:189px;
    position:relative;
}

.random_btn{
    position:absolute;
    top:5px;
    right:10px;
}

.loading {
    position:absolute;
    top:5px;
    right:10px;
}

.random_big_image,.random_text img{
	float:left;
	margin-right:10px;
}

.random_big_image{
    width:276px;
    text-align: center;
}

#section_left .random_big_image img{
    max-width:276px;
    height:186px;
}

.random_text{
	width:184px;
}

.random_photo{
    width:62px;
    height:58px;
}

.random_box p{
	font-family:Gotham;
	line-height:1.2em;
}

.random_box p a{
	color:#c5aa7b;
}

.random_thumbs{
	margin:8px 0;
}

.random_thumbs img{
	width:85px;
    height:58px;
	margin-bottom:5px;
    opacity:0.6;
}

.random_thumbs img.active{
	opacity:1;
}

.random_thumbs img.last{
	margin-right:0;
}

.box {
	border:1px solid #cecfd1;
	background:#f3f3f4;
	margin-bottom:10px;
	clear:both;
}

.box .box-heading{
	font-family:Gotham;
	line-height:28px;
	font-size:20px;
	color:#fff;
	overflow:hidden;
	padding:0 10px;
}

.brown{	background:#c46028;}
.green{	background:#9faa53;}
.blue {background:#5691ac;}
.brown {background:#836e49;}
.red {background:#ca4b2c;}

.box-heading .title{
	font-size:20px;
	margin-right:20px;
}

.box-heading .links{
	float:left;
	font-size:10px;
	margin-right:20px;
}

.box-heading .links2{
	float:right;
	font-size:10px;
}

.links a,.links2 a{
	color:#fff;
}

#hunters_thumbs{
	padding:15px 15px;
    overflow:hidden;
}

#hunters_thumbs li{
	display:inline-block;
    padding:0 5px;
    text-align:center;
    height:160px;
    float:left;
    width:120px;
    /*width:120px;*/
}

#hunters_thumbs li a.avatar-container{
    border:1px solid #bcbdc0;
    padding:3px;
    display:block;
    width:100px;
    margin:0 auto;
}

.avatar-name{
    width:100px;
    height:20px;
    overflow:hidden;
    word-wrap:break-word;
}

#hunters_thumbs li span{
    display:block;
    overflow:hidden;
}

#hunters_thumbs li img{
    /*width:100px;*/
    width:auto;
    height:100px;
}

#hunters_thumbs li a.hunter_online{
	border-color:#c00;
}

#hunters_thumbs li p{
	font-family:Gotham;
	line-height:1.3em;
	/*font-size:11px;*/
    text-align:center;
    font-weight:bold;
    margin-bottom:0;
}

#hunters_thumbs li p.avatar-name{
    height:18px;
}



#hunts_thumbs{
	text-align:center;
	padding:15px 0;
}

#hunts_thumbs li{
	display:inline-block;
	margin:0 20px;
    height:auto;
}

#hunts_thumbs li img{
    width:190px;
    height:128px;
}

#hunts_thumbs li p{
	font-family:Gotham;
	margin-top:15px;
	line-height:1.3em;
	font-size:10px;
}

#hunts_thumbs li p a{
	color:#000;
	text-decoration:underline;
}

#hunts_thumbs li p a.thumbs_title{
	text-decoration:none;
	color:#7687c3;
	font-size:15px;
}

#hunts_thumbs li p a.thumbs_title:hover{
	text-decoration:underline;
}


#blog_thumbs{
	text-align:center;
	padding:15px 0;
    overflow:hidden;
}

#blog_thumbs li{
	text-align:left; 
	width:210px;
    height:auto;
	float:left;
	margin:0 20px;
	font-family:Gotham;
}

#blog_thumbs li img.blog_thumb{
	float:left;
	margin-right:10px;
	width:60px;
	height:57px;
}

#blog_thumbs li .blog_title{
	float:left;
	width:140px;
}

#blog_thumbs li .blog_date{
	font-size:12px;
}

#blog_thumbs li .blog_shortdesc{
	margin:10px 0;
	font-size:12px;
    border-bottom:1px solid #C8C9CB;
}

.quick_stat{
    font-size:11px;
    font-family:tahoma,arial;
}

#video_thumbs{
	text-align:center;
}

#video_thumbs li{
	padding:15px 20px;
	vertical-align:top;
	text-align:left; 
	width:160px;
	display:inline-block;
	font-family:Gotham;
}

#video_thumbs li img.video_thumb{
	width:136px;
	height:104px;
}

#video_thumbs li.active_thumb {
	padding:15px 50px;
	width:210px;
	background:#d1d2d4;
}

#video_thumbs li.active_thumb img{
	width:206px;
	height:154px;
}


#video_thumbs li .video_title{
	text-align:center;
	font-size:11px;
	line-height:1.4em;
}

#video_thumbs li a{
	color:#c29245;
}

#forum_posts, #review_posts{
	padding:5px 10px;
}

#forum_posts li, #review_posts li{
	padding:5px 0;
	font-family:Gotham;
	overflow:hidden;
	border-bottom:2px solid #bcbdc0;
}

#forum_posts li.last, #review_posts li.last{
	border-bottom:none;
}

#forum_posts li .forum_thumb, #review_posts li .review_thumb{
	float:left;
	margin-right:10px;
    width:133px;
    height:86px;
}

#forum_posts li .forum_desc, #review_posts li .review_desc {
	float:left;
	font-size:12px;
    width:510px; /* old : 600px; */
}

#forum_posts li .forum_title, #review_posts li .review_title {
	font-size:16px;
	line-height:1.4eem;
}

#forum_posts li .last_post{
	line-height:80px;
	float:left;
	margin-left:200px;
}

#forum_posts li .reply, #review_posts li .review_rating{
	line-height:80px;
	float:right;
	margin-right:20px;
}

#pulse_list {
    padding:10px;
}

#pulse_list li {
    padding-bottom:5px;
    margin-bottom:5px;
    border-bottom:1px dotted #898989;
}


#section_right{
	width:140px;
	float:right;
}

#section_right img{
	margin-bottom:10px;
}

#section_right p {
    margin-bottom:10px;
    text-align:center;
}

#section_right p.green a {
    color:#fff;
    display:block;
    padding:5px;
}

.section {
	padding:10px 0;
	border-bottom: dotted 1px #eaeaea;
}

#footer {
	font-weight:600;
	font-size:11px;
	font-family:Gotham;
	margin:10px 0;
	line-height:25px;
	background:#836e49;
	color:#fff;
	text-align:center;
}

#footer_nav li{
	display:inline;
}

#footer_nav li a{
	color:#fff;
}

#footer_nav li a:hover, #footer_nav li a.active{
	color:#8cf;
}

/* HOME */

/* CONTEST SPECIFIC */
#contest_list {
    overflow:hidden;
    padding:10px;
}

#contest_list li {
    border:1px solid #fff;
    width:225px;
    height:350px;
    font-weight:bold;
    float:left;
    text-align:center;
    padding:5px;
    -moz-transition:0.3s all ease;
    -webkit-transition:0.3s all ease;
    border-radius:5px;
    margin:0 5px 10px 0;
}

#contest_list li:hover {
    border:1px solid #cdcdce;
    box-shadow:0 0 10px #acac98;
}

#contest_list li img {
    width:225px;
    height:150px;
}

.contest_box{
    width:150px;
    padding:10px 5px;
    text-align:center;
}

.contest_box p{
	font-family:Tahoma, Geneva, sans-serif;
    line-height:1.2em;
    margin-bottom:1em;
}

.contest_box img {
    width:150px;
}


/* PAGE SPECIFIC */
.box_list{
	overflow:hidden;
}

.box_list li{
    margin:0 20px;
    float:left;
}

.small_info {
	margin:5px 0;
	font-size:.75em;
	color:#ccc;
}

/* FORMS */
form {margin:5px 0; background:#fefefe;}
label { display:block; line-height:25px; float:left; width:150px;}
form p {margin-bottom:8px;}
select, input[type="text"],input[type="password"],textarea { border:1px solid #a8a8a8; color:#888; padding:5px; font-size:11px; }
option {padding:0 5px;}
/* MEMBER VIDEO CHECK */
.good {color:green;}
.bad {color:red;}

/* PAGINATION */

.pagination {text-align:center;}
.pager_nav { display:inline-block; padding:5px; border:solid 1px #f05125; margin:0 2px; color:#000; }
a.pager_nav:hover { border:solid 1px #f05125; background:#f05125; color:#fff; }
.current_page { background:#f05125; color:#fff }


/* LOGIN FORM  */
.login_form{background:#fff;border:1px solid #c8c8c8;padding:20px 30px;width:300px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; position:relative;}
    .login_form h2 {font-size:22px; font-family:Gotham; padding-bottom:10px; border-bottom:1px solid #c8c8c8; color:#434343;}

    .login_form label { float:none; width:100%;}
        .login_form label.fl {float:left; width:auto;}
        .login_form .forgot {line-height:25px;}
    .login_form input[type="text"], .login_form input[type="password"] {width:290px; padding:8px 5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; }
        .login_form input[type="text"]:focus,.login_form input[type="password"]:focus {border-color:#898989;}

.fb-login {background:url(../images/fb-login.png) no-repeat; width:154px; height:22px; text-indent:-9999px; display:block; position:absolute; right:30px; top:18px;}
